*{
	margin:0px;
	padding:0px;
	background-color: burlywood;
	
}
body{
	background: url(templates/image.jpeg);
	width:1000px;
	height:800px;
	margin:0 auto;
	padding:15px;
	font-family:roboto;
	color:#2d3436;
}
h1{
	text-align:center;
	border-bottom:2px solid grey;
	font-family:italic;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.5 );
	font-size:50px;
	padding:20px;
	margin-bottom:25px;
	color:#000000;
}
table{
	width:100%;
	border-collapse:collapse;
	margin-top:25px;	
}
tr td,tr th{
	border:1px solid #ffffff;
	padding:10px;
}
tr th{
border:none;
background:#000000;
border:1px solid #fffcfc;
color:white;
padding:30px;
}
a,input[type=submit]{
padding:8px;
text-decoration: none;

color:white;
color: black;
background:grey;
border-radius:5px;
border:none;
}
input[type=submit]{
margin-top:35px;
margin-left: 420px;
background:#a97e67;
font-size:15px;

color: #000000;
}

input[type=submit]:hover{
transform: scale(1.05);
}

input[type=text]{
border:1px solid rgb(241, 208, 160);
height:35px;
background-color: rgb(204, 176, 112);
width:300px;
display:block;
border-radius:10px;
margin-left: 325px;
margin-top:px;
font-size:15px;
padding:5px;}

label{
padding-left: 250px;
display:block;
margin-top:45px;
font-size:25px;
color:rgb(0, 0, 0);
font-weight:bold;
}
p a{
background:#3599ba;
text-decoration:none;
float: right;
padding: 10px;
width: 80px;
height: 20px;text-align: center;
}

	
table td:nth-child(5) a{
background:#e475b8;
color: black;
text-decoration:none;
padding:5px 20px 5px 20px ;
}
table td:nth-child(6) a{
background:#c361c1;
color: black;
text-decoration:none;
padding:5px 20px 5px 20px ;
}
h4{
text-align:right;
color:#533eed;
padding-bottom: 20px;
}   
.completed {
    text-decoration: line-through;
}
